@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Slab:wght@600&display=swap');

.conteiner {
  margin-top: 100px;
  width: 100%;
  .bg-pic {
    width: 100%;
    opacity: 0.15;
    z-index: 1;
    height: 675px;
  }
  .collection-align {
    color: white;
    font-size: 20px;
    float: left;
    display: flex;
    margin: 145px 200px -583px 200px;
    z-index: 2;
    position: absolute;
    cursor: pointer;
    .game-banner {
      height: 393px;
    }
  }
  .ditails-align {
    margin: 20px 40px;
    text-align: left;
    font-size: 125%;
    .title {
      font-family: 'Roboto Slab', serif;
      font-size: 40px;
    }
  }
}
