@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Slab:wght@600&display=swap');

.conteiner {
  margin-top: 100px;
  background-color: black;
  width: 1815px;
  .collection-align {
    color: white;
    font-size: 20px;
    float: left;
    display: flex;
    margin: 80px;
  }
  .ditails-align {
    margin: 20px 40px;
    .title {
      font-family: 'Roboto Slab', serif;
      font-size: 40px;
    }
  }
}
