.color {
  display: flex;
  list-style: none;
  li {
    margin: 0px 5px;
  }
  li:nth-child(1) {
    color: #cfa117;
  }
  li:nth-child(2) {
    color: #3a7664;
  }

  li:nth-child(3) {
    color: #276abc;
  }
  li:nth-child(4) {
    color: #8c120a;
  }
}
