@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@keyframes ani {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0);
  }
}

.header-align {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 400px;

  .header {
    transform: translateY(-150%);
    animation: ani 1s forwards;
    z-index: 2;
    .header-title {
      color: whitesmoke;
      font-size: 160px;
      font-family: 'Permanent Marker', cursive;
    }
  }

  .header-pic {
    width: 100%;
    z-index: 1;
    opacity: 0.4;
    margin-top: -640px;
  }
}
