.title {
  border-bottom: 2px solid #111;
  padding: 10px;
  margin: 0% 2%;
  font-size: 140%;
}
.items-position {
  display: flex;
  justify-content: center;
  width: 300px;
  flex-wrap: wrap;
  .active {
    background: linear-gradient(0deg, #ff45117a, #25425200) no-repeat;
    border-radius: 10px;
  }
  .active-character {
    background: linear-gradient(0deg, #060a7a7a, #25425200) no-repeat;
    border-radius: 10px;
  }
  .none {
    font-weight: 600;
    a {
      min-height: 20px;
      color: #00b241;
    }
  }
  a {
    color: whitesmoke;
    text-decoration: none;
    margin: 5px;
    width: 80px;
    display: block;
    min-height: 135px;
    img {
      height: 80px;
      margin: 5px 0px 15px;
    }
  }
}
.block-style {
  border: 1px solid #111;
  box-shadow: inset 0px 0px 3px 1px rgb(0 0 0 / 50%);
  background-color: #343331;
  &.content {
    color: white;
    min-width: 1440px;
  }
}
